include CHANGELOG.md
include CONTRIBUTORS.md
include LICENSE.txt
include README.rst
include setupbase.py
recursive-include win_tornado_terminals/static *.html *.js *.json *.css *.eot *.tff *.woff *.woff2
